# day3 player-level analysis on deliveries dataset

In [44]:
import pandas as pd

deliveries = pd.read_csv(r"C:\Users\91789\Downloads\deliveries.csv\deliveries.csv")
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [45]:
deliveries.info

<bound method DataFrame.info of         match_id  inning           batting_team                 bowling_team  \
0         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
1         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
2         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
3         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
4         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
...          ...     ...                    ...                          ...
260915   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260916   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260917   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260918   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260919   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad

        over  ball       batter         bowler  non_striker  batsman_runs  \
0          0     1   SC Ganguly        P Kumar  BB McCullum             0
1          0     2  BB McCullum        P Kumar   SC Ganguly             0
2          0     3  BB McCullum        P Kumar   SC Ganguly             0
3          0     4  BB McCullum        P Kumar   SC Ganguly             0
4          0     5  BB McCullum        P Kumar   SC Ganguly             0
...      ...   ...          ...            ...          ...           ...
260915     9     5      SS Iyer     AK Markram      VR Iyer             1
260916     9     6      VR Iyer     AK Markram      SS Iyer             1
260917    10     1      VR Iyer  Shahbaz Ahmed      SS Iyer             1
260918    10     2      SS Iyer  Shahbaz Ahmed      VR Iyer             1
260919    10     3      VR Iyer  Shahbaz Ahmed      SS Iyer             1

        extra_runs  total_runs extras_type  is_wicket player_dismissed  \
0                1           1     legbyes          0              NaN
1                0           0         NaN          0              NaN
2                1           1       wides          0              NaN
3                0           0         NaN          0              NaN
4                0           0         NaN          0              NaN
...            ...         ...         ...        ...              ...
260915           0           1         NaN          0              NaN
260916           0           1         NaN          0              NaN
260917           0           1         NaN          0              NaN
260918           0           1         NaN          0              NaN
260919           0           1         NaN          0              NaN

       dismissal_kind fielder
0                 NaN     NaN
1                 NaN     NaN
2                 NaN     NaN
3                 NaN     NaN
4                 NaN     NaN
...               ...     ...
260915            NaN     NaN
260916            NaN     NaN
260917            NaN     NaN
260918            NaN     NaN
260919            NaN     NaN

[260920 rows x 17 columns]>

In [46]:
deliveries.describe

<bound method NDFrame.describe of         match_id  inning           batting_team                 bowling_team  \
0         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
1         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
2         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
3         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
4         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
...          ...     ...                    ...                          ...
260915   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260916   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260917   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260918   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260919   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad

        over  ball       batter         bowler  non_striker  batsman_runs  \
0          0     1   SC Ganguly        P Kumar  BB McCullum             0
1          0     2  BB McCullum        P Kumar   SC Ganguly             0
2          0     3  BB McCullum        P Kumar   SC Ganguly             0
3          0     4  BB McCullum        P Kumar   SC Ganguly             0
4          0     5  BB McCullum        P Kumar   SC Ganguly             0
...      ...   ...          ...            ...          ...           ...
260915     9     5      SS Iyer     AK Markram      VR Iyer             1
260916     9     6      VR Iyer     AK Markram      SS Iyer             1
260917    10     1      VR Iyer  Shahbaz Ahmed      SS Iyer             1
260918    10     2      SS Iyer  Shahbaz Ahmed      VR Iyer             1
260919    10     3      VR Iyer  Shahbaz Ahmed      SS Iyer             1

        extra_runs  total_runs extras_type  is_wicket player_dismissed  \
0                1           1     legbyes          0              NaN
1                0           0         NaN          0              NaN
2                1           1       wides          0              NaN
3                0           0         NaN          0              NaN
4                0           0         NaN          0              NaN
...            ...         ...         ...        ...              ...
260915           0           1         NaN          0              NaN
260916           0           1         NaN          0              NaN
260917           0           1         NaN          0              NaN
260918           0           1         NaN          0              NaN
260919           0           1         NaN          0              NaN

       dismissal_kind fielder
0                 NaN     NaN
1                 NaN     NaN
2                 NaN     NaN
3                 NaN     NaN
4                 NaN     NaN
...               ...     ...
260915            NaN     NaN
260916            NaN     NaN
260917            NaN     NaN
260918            NaN     NaN
260919            NaN     NaN

[260920 rows x 17 columns]>

In [47]:
deliveries.shape  # Rows, Columns
deliveries.columns  # List of column names
deliveries.head()  # View first few rows

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [48]:
deliveries.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [49]:
deliveries['extras_type'].head(10)

0    legbyes
1        NaN
2      wides
3        NaN
4        NaN
5        NaN
6    legbyes
7        NaN
8        NaN
9        NaN
Name: extras_type, dtype: object

In [50]:
# top run scorers by batter in ipl
top_batsmen = deliveries.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(10)
print(top_batsmen)

batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64

In [51]:
# most sixes hit by batters
sixes = deliveries[deliveries['batsman_runs'] == 6]
top_six_hitters = sixes.groupby('batter').size().sort_values(ascending=False).head(10)
print(top_six_hitters)

batter
CH Gayle          359
RG Sharma         281
V Kohli           273
AB de Villiers    253
MS Dhoni          252
DA Warner         236
KA Pollard        224
AD Russell        209
SV Samson         206
SK Raina          204
dtype: int64

In [52]:
# most fours hit by batter
fours = deliveries[deliveries['batsman_runs'] == 4]
top_four_hitters = fours.groupby('batter').size().sort_values(ascending=False).head(10)
print(top_four_hitters)

batter
S Dhawan        768
V Kohli         708
DA Warner       663
RG Sharma       599
SK Raina        506
G Gambhir       492
RV Uthappa      481
AM Rahane       479
KD Karthik      466
F du Plessis    422
dtype: int64

In [53]:
# most balls faced by batter
balls_faced = deliveries.groupby('batter').size().sort_values(ascending=False).head(10)
print(balls_faced)

batter
V Kohli       6236
S Dhawan      5483
RG Sharma     5183
DA Warner     4849
SK Raina      4177
MS Dhoni      3947
RV Uthappa    3927
AM Rahane     3858
KD Karthik    3687
KL Rahul      3578
dtype: int64

In [54]:
# top wicket taker


# Filter rows where a dismissal happened and player got out
wickets = deliveries[deliveries['player_dismissed'].notnull()]

# Group by bowler and count the dismissals
top_wicket_takers = wickets['bowler'].value_counts().head(10)
print(top_wicket_takers)

bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
Name: count, dtype: int64

In [55]:
# 5 wicket haul
# Filter out only the rows where a dismissal occurred
wickets = deliveries[deliveries['player_dismissed'].notnull()]

# Count wickets for each bowler in each match (by match ID)
match_wickets = wickets.groupby(['match_id', 'bowler']).size().reset_index(name='wickets')

# Filter bowlers who took 5 wickets or more in a match
five_wicket_hauls = match_wickets[match_wickets['wickets'] >= 5]

# Count the number of 5-wicket hauls for each bowler
five_wicket_hauls_count = five_wicket_hauls['bowler'].value_counts().head(10)
print(five_wicket_hauls_count)

bowler
JP Faulkner    3
SP Narine      3
JJ Bumrah      3
HV Patel       2
SL Malinga     2
AD Russell     2
MM Sharma      2
JD Unadkat     2
AJ Tye         2
B Kumar        2
Name: count, dtype: int64

In [56]:
# Filter deliveries where batsman faced the bowler
batsman_bowler_matchups = deliveries.groupby(['batter', 'bowler']).agg(
    runs_scored=('batsman_runs', 'sum'),
    balls_faced=('batsman_runs', 'count')
).reset_index()

# Display the top 10 matchups with highest runs
top_batsman_bowler_matchups = batsman_bowler_matchups.sort_values(by='runs_scored', ascending=False).head(10)
print(top_batsman_bowler_matchups)

          batter     bowler  runs_scored  balls_faced
5481   DA Warner  SP Narine          195          127
26199    V Kohli   R Ashwin          179          153
22509   SK Raina  PP Chawla          175          102
19809  RG Sharma   UT Yadav          170          121
26260    V Kohli   UT Yadav          168           98
26003    V Kohli   A Mishra          162          108
11627   KL Rahul  DL Chahar          158          103
26062    V Kohli   DJ Bravo          157          110
26208    V Kohli  RA Jadeja          157          148
5515   DA Warner  YS Chahal          156           99

In [57]:
# ms dhoni vs bumrah
# Filter only deliveries where Dhoni faced Bumrah
dhoni_vs_bumrah = deliveries[(deliveries['batter'] == 'MS Dhoni') & 
                             (deliveries['bowler'] == 'JJ Bumrah')]

# Total runs scored
runs = dhoni_vs_bumrah['batsman_runs'].sum()

# Balls faced
balls = dhoni_vs_bumrah.shape[0]

# Dismissals
dismissals = dhoni_vs_bumrah['player_dismissed'].value_counts().get('MS Dhoni', 0)

# Output
print(f"MS Dhoni vs JJ Bumrah:")
print(f"Runs scored: {runs}")
print(f"Balls faced: {balls}")
print(f"Times dismissed: {dismissals}")

MS Dhoni vs JJ Bumrah:
Runs scored: 60
Balls faced: 64
Times dismissed: 3

In [58]:
# best economical bowler in the death overs

# Filter for overs 16 to 20
death_overs = deliveries[deliveries['over'] >= 16]

# Same economy rate logic with filtering
runs = death_overs.groupby('bowler')['total_runs'].sum()
balls = death_overs[death_overs['extra_runs'] == 0].groupby('bowler').size()
valid = balls[balls >= 30]
econ = (runs[valid.index] / (valid / 6)).sort_values().head(10)

print("Best economy rates in death overs (min 5 overs):")
print(econ)

Best economy rates in death overs (min 5 overs):
bowler
M Theekshana     6.830769
Sohail Tanvir    7.252747
PWH de Silva     7.531915
V Shankar        7.636364
DE Bollinger     7.805825
Noor Ahmad       7.875000
M Ashwin         7.916667
KH Pandya        7.935484
Rashid Khan      7.973941
CK Langeveldt    8.195122
dtype: float64

In [59]:
# most runs conceded in a match
runs_per_match = deliveries.groupby(['match_id', 'bowler'])['total_runs'].sum().reset_index()
worst_10 = runs_per_match.sort_values(by='total_runs', ascending=False).head(10)

print("Most runs conceded by a bowler in a match:")
print(worst_10)

Most runs conceded by a bowler in a match:
       match_id            bowler  total_runs
12594   1426278         MM Sharma          73
8169    1136611      Basil Thampi          70
11379   1359487        Yash Dayal          69
12633   1426281            L Wood          68
12475   1426268        RJW Topley          68
12211   1422126        KT Maphaka          67
11771   1359520    Arshdeep Singh          66
5211     734007    Sandeep Sharma          66
8837    1178423  Mujeeb Ur Rahman          66
4489     598051          I Sharma          66

In [60]:
# highest wicket taken by bowler in the ipl

# Filter where a wicket was taken
wickets = deliveries[deliveries['player_dismissed'].notnull()]

# Count total dismissals per bowler
top_wicket_takers = wickets['bowler'].value_counts().head(10)

print("Top 10 wicket takers:")
print(top_wicket_takers)

Top 10 wicket takers:
bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
Name: count, dtype: int64